USE [master]
GO
USE [Otdelyanov.Vladislav.Bookmaster]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 15.01.2025 23:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](32) NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 15.01.2025 23:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[BirthDate] [date] NULL,
	[DeathDate] [date] NULL,
	[Wikipedia] [nvarchar](255) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 15.01.2025 23:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [nvarchar](128) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Subtitle] [nvarchar](80) NULL,
	[FirstPublishDate] [date] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthor]    Script Date: 15.01.2025 23:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthor](
	[BookAuthorId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [nvarchar](128) NOT NULL,
	[AuthorId] [int] NOT NULL,
 CONSTRAINT [PK_BookAuthor] PRIMARY KEY CLUSTERED 
(
	[BookAuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCover]    Script Date: 15.01.2025 23:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCover](
	[BookCoverId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [nvarchar](128) NOT NULL,
	[CoverId] [int] NOT NULL,
 CONSTRAINT [PK_BookCover] PRIMARY KEY CLUSTERED 
(
	[BookCoverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookSubject]    Script Date: 15.01.2025 23:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookSubject](
	[BookSubjectId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [nvarchar](128) NOT NULL,
	[SubjectId] [int] NOT NULL,
 CONSTRAINT [PK_BookSubject] PRIMARY KEY CLUSTERED 
(
	[BookSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Circulation]    Script Date: 15.01.2025 23:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Circulation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [nvarchar](128) NOT NULL,
	[CustomerId] [nvarchar](128) NOT NULL,
	[DateOfIssue] [date] NOT NULL,
	[DateOfReturn] [date] NOT NULL,
	[AdministratorId] [int] NOT NULL,
	[IsBookReturned] [bit] NOT NULL,
 CONSTRAINT [PK_Circulation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 15.01.2025 23:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cover]    Script Date: 15.01.2025 23:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cover](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cover] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 15.01.2025 23:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[CityId] [int] NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Zip] [nvarchar](6) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 15.01.2025 23:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrator] ON 

INSERT [dbo].[Administrator] ([Id], [Name], [Username], [Password]) VALUES (1, N'Тест', N'1', N'1')
SET IDENTITY_INSERT [dbo].[Administrator] OFF
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([Id], [Name], [Bio], [BirthDate], [DeathDate], [Wikipedia]) VALUES (2, N'Федор Достоевский', N'Русский писатель, философ и публицист. Его произведения глубоко исследуют человеческую душу.', CAST(N'1821-11-11' AS Date), CAST(N'1881-02-09' AS Date), N'https://ru.wikipedia.org/wiki/Достоевский,_Фёдор_Михайлович')
INSERT [dbo].[Author] ([Id], [Name], [Bio], [BirthDate], [DeathDate], [Wikipedia]) VALUES (3, N'Михаил Булгаков', N'Русский писатель, драматург и театральный режиссер. Автор многих известных романов и пьес.', CAST(N'1891-05-15' AS Date), CAST(N'1940-03-10' AS Date), N'https://ru.wikipedia.org/wiki/Булгаков,_Михаил_Афанасьевич')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
INSERT [dbo].[Book] ([Id], [Title], [Subtitle], [FirstPublishDate], [Description]) VALUES (N'B0002', N'Преступление и наказание', N'Психологический роман Ф.М. Достоевского', CAST(N'1866-01-01' AS Date), N'Это произведение повествует о бедном студенте Родионе Раскольникове, который совершает убийство ради денег и впоследствии страдает от угрызений совести.')
INSERT [dbo].[Book] ([Id], [Title], [Subtitle], [FirstPublishDate], [Description]) VALUES (N'B0003', N'Мастер и Маргарита', N'Фантастический роман Михаила Булгакова', CAST(N'1967-05-11' AS Date), N'Этот роман является одной из самых загадочных и мистических книг русской литературы. Он рассказывает о визите дьявола в Москву и любви Мастера к Маргарите.')
GO
SET IDENTITY_INSERT [dbo].[BookAuthor] ON 

INSERT [dbo].[BookAuthor] ([BookAuthorId], [BookId], [AuthorId]) VALUES (1, N'B0001', 1)
INSERT [dbo].[BookAuthor] ([BookAuthorId], [BookId], [AuthorId]) VALUES (2, N'B0002', 2)
INSERT [dbo].[BookAuthor] ([BookAuthorId], [BookId], [AuthorId]) VALUES (3, N'B0003', 3)
GO
SET IDENTITY_INSERT [dbo].[BookAuthor] OFF
GO
SET IDENTITY_INSERT [dbo].[BookCover] ON 

INSERT [dbo].[BookCover] ([BookCoverId], [BookId], [CoverId]) VALUES (1, N'B0001', 1)
INSERT [dbo].[BookCover] ([BookCoverId], [BookId], [CoverId]) VALUES (2, N'B0001', 2)
INSERT [dbo].[BookCover] ([BookCoverId], [BookId], [CoverId]) VALUES (3, N'B0001', 3)
SET IDENTITY_INSERT [dbo].[BookCover] OFF
GO
SET IDENTITY_INSERT [dbo].[BookSubject] ON 

INSERT [dbo].[BookSubject] ([BookSubjectId], [BookId], [SubjectId]) VALUES (1, N'B0001', 1)
INSERT [dbo].[BookSubject] ([BookSubjectId], [BookId], [SubjectId]) VALUES (2, N'B0002', 2)
INSERT [dbo].[BookSubject] ([BookSubjectId], [BookId], [SubjectId]) VALUES (3, N'B0003', 3)
GO
SET IDENTITY_INSERT [dbo].[BookSubject] OFF
GO
SET IDENTITY_INSERT [dbo].[Circulation] ON 

INSERT [dbo].[Circulation] ([Id], [BookId], [CustomerId], [DateOfIssue], [DateOfReturn], [AdministratorId], [IsBookReturned]) VALUES (1, N'B0001', N'C1000', CAST(N'2024-12-05' AS Date), CAST(N'2024-12-26' AS Date), 1, 0)
INSERT [dbo].[Circulation] ([Id], [BookId], [CustomerId], [DateOfIssue], [DateOfReturn], [AdministratorId], [IsBookReturned]) VALUES (2, N'B0002', N'C1000', CAST(N'2024-12-01' AS Date), CAST(N'2024-12-22' AS Date), 1, 1)
INSERT [dbo].[Circulation] ([Id], [BookId], [CustomerId], [DateOfIssue], [DateOfReturn], [AdministratorId], [IsBookReturned]) VALUES (3, N'B0003', N'C1001', CAST(N'2024-12-09' AS Date), CAST(N'2024-12-30' AS Date), 1, 0)
SET IDENTITY_INSERT [dbo].[Circulation] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name]) VALUES (1, N'Москва')
INSERT [dbo].[City] ([Id], [Name]) VALUES (2, N'Сергиев Посад')
INSERT [dbo].[City] ([Id], [Name]) VALUES (3, N'Зеленоград')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Cover] ON 

INSERT [dbo].[Cover] ([Id], [Path]) VALUES (1, N'https://ir.ozone.ru/s3/multimedia-1-o/wc1000/7193194548.jpg')
INSERT [dbo].[Cover] ([Id], [Path]) VALUES (2, N'https://ir.ozone.ru/s3/multimedia-1-l/wc1000/7193194401.jpg')
INSERT [dbo].[Cover] ([Id], [Path]) VALUES (3, N'https://ir.ozone.ru/s3/multimedia-1-f/wc1000/7193194935.jpg')
SET IDENTITY_INSERT [dbo].[Cover] OFF
GO
INSERT [dbo].[Customer] ([Id], [Name], [Address], [CityId], [Phone], [Email], [Zip]) VALUES (N'C1000', N'Иванов Иван Иванович', N'ул. Тверская, д. 123, кв. 45', 1, N'8 (909) 555-55-55', N'ivanov.ii@mail.ru', N'125009')
INSERT [dbo].[Customer] ([Id], [Name], [Address], [CityId], [Phone], [Email], [Zip]) VALUES (N'C1001', N'Петров Петр Петрович', N'пр-т Мира, д. 67, кв. 89', 1, N'8 (903) 444-44-44', N'petrov.pp@mail.ru', N'129090')
INSERT [dbo].[Customer] ([Id], [Name], [Address], [CityId], [Phone], [Email], [Zip]) VALUES (N'C1002', N'Сидоров Сидор Сидорович', N'ул. Арбат, д. 34, кв. 12', 1, N'8 (915) 333-33-33', N'sidorov.ss@mail.ru', N'119002')
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([Id], [Title]) VALUES (1, N'Роман')
INSERT [dbo].[Subject] ([Id], [Title]) VALUES (2, N'Психологический роман')
INSERT [dbo].[Subject] ([Id], [Title]) VALUES (3, N'Фантастический роман')
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
ALTER TABLE [dbo].[BookAuthor]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthor_Author] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Author] ([Id])
GO
ALTER TABLE [dbo].[BookAuthor] CHECK CONSTRAINT [FK_BookAuthor_Author]
GO
ALTER TABLE [dbo].[BookAuthor]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthor_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[BookAuthor] CHECK CONSTRAINT [FK_BookAuthor_Book]
GO
ALTER TABLE [dbo].[BookCover]  WITH CHECK ADD  CONSTRAINT [FK_BookCover_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[BookCover] CHECK CONSTRAINT [FK_BookCover_Book]
GO
ALTER TABLE [dbo].[BookCover]  WITH CHECK ADD  CONSTRAINT [FK_BookCover_Cover] FOREIGN KEY([CoverId])
REFERENCES [dbo].[Cover] ([Id])
GO
ALTER TABLE [dbo].[BookCover] CHECK CONSTRAINT [FK_BookCover_Cover]
GO
ALTER TABLE [dbo].[BookSubject]  WITH CHECK ADD  CONSTRAINT [FK_BookSubject_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[BookSubject] CHECK CONSTRAINT [FK_BookSubject_Book]
GO
ALTER TABLE [dbo].[BookSubject]  WITH CHECK ADD  CONSTRAINT [FK_BookSubject_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[BookSubject] CHECK CONSTRAINT [FK_BookSubject_Subject]
GO
ALTER TABLE [dbo].[Circulation]  WITH CHECK ADD  CONSTRAINT [FK_Circulation_Administrator] FOREIGN KEY([AdministratorId])
REFERENCES [dbo].[Administrator] ([Id])
GO
ALTER TABLE [dbo].[Circulation] CHECK CONSTRAINT [FK_Circulation_Administrator]
GO
ALTER TABLE [dbo].[Circulation]  WITH CHECK ADD  CONSTRAINT [FK_Circulation_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[Circulation] CHECK CONSTRAINT [FK_Circulation_Book]
GO
ALTER TABLE [dbo].[Circulation]  WITH CHECK ADD  CONSTRAINT [FK_Circulation_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Circulation] CHECK CONSTRAINT [FK_Circulation_Customer]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_City]
GO
USE [master]
GO
